/******************** RESETEO DE VALORES ********************/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: sans-serif;
}

/******************** BODY ********************/

.container{
    display: flex;
    flex-flow: column nowrap;
}

/******************** HEADER ********************/

header{
    display: flex;
    flex-flow: column wrap;
    background-color: #252932;
    height: 35vh;
    justify-content: center;
    align-content: center;
}

/******************** ELEMENT-HEADER-1 ********************/

    .element-header-1{
        flex: 1 1 auto;
        color: #f2f2f2;
        font-size: 70px;
        padding: 30px;
        justify-content: center;  
        text-align: center;  
    }

/******************** ELEMENT-HEADER-2 ********************/

    .element-header-2{
        flex: 1 1 auto;
        justify-content: center;
        align-content: center;
    }

        .menu{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
        }

            .menu ul{
                display: flex;
                flex-flow: row wrap;
            }
            
                .menu ul li{
                    list-style: none;
                }

                    .menu ul li a{
                        display: block;
                        text-decoration: none;
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        color: #fff;
                        padding: 10px 20px;
                        transition: all 500ms ease;
                    }

                    .menu ul li a:hover{
                        background: #f56f3a;
                        border-radius: 50px;
                    }

/******************** MAIN ********************/

main{
    background: #fffffa;
    
}

/******************** MAIN ********************/

footer{
    background-color: #252932;
    
}