@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Great+Vibes');

/******************************************************** RESETEO DE VALORES ********************************************************/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: sans-serif;
}