
/* formulario */

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
    background-color: #f2f2f2;
 
}

/* COLUMNA IZQUIERDA */

.container-1{ 
    grid-column: 1/2;
    grid-row: 1/2;
}

.container-3{
    grid-column: 1/2;
    grid-row: 2/3;
}

.container-5{
    grid-column: 1/2;
    grid-row: 3/4;
}

.container-7{ 
    grid-column: 1/2;
    grid-row: 4/5;
}

.container-9{
    grid-column: 1/2;
    grid-row: 5/6;
}

.container-11{ 
    grid-column: 1/2;
    grid-row: 6/7;
}

/* COLUMNA DERECHA */

.container-2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.container-4{ 
    grid-column: 2/3;
    grid-row: 2/3;
}

.container-6{
    grid-column: 2/3;
    grid-row: 3/4;
}

.container-8{
    grid-column: 2/3;
    grid-row: 4/5;
}

.container10{
    grid-column: 2/3;
    grid-row: 5/6;
}

.container-14{ 
    grid-column: 2/3;
    grid-row: 7/8;
}